/* Variable definitions and redefinitions of bootstrap variables (bs) */
/*****************************************************************************/
:root {
  --bs-body-font-size: 1.1rem;
  --clab-red: #d41111;
  --clab-blue: #2060c2;
}

/* Styles for basic elements */
/*****************************************************************************/
h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
}

a {
  color: var(--clab-blue);
  text-decoration: none;
}

a:hover {
  color: var(--clab-blue);
  text-decoration: underline;
}

code {
  color: #dc1c2f;
  font-size: 0.9rem;
}

img {
  width: 100%;
}

li {
  margin-bottom: 0.75rem;
}

header {
  background-image: url(/images/banner.jpg);
  background-color: var(--bs-gray-900);
  background-position: top;
  background-size: cover;
  font-size: 1rem;
  padding: 0.5rem 0;
}

footer {
  padding: 5rem 0;
  width: 100%;
  color: var(--bs-gray-500);
  background-color: var(--bs-gray-900);
  font-size: 1rem;
}

footer a {
  color: var(--bs-gray-300);
  text-decoration: none;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

code {
  font-size: 0.9rem;
}

figcaption {
  font-size: 1rem;
  text-align: center;
  color: #6c757d;
}


/* Tweaks to Bootstrap classes */
/*****************************************************************************/
.container {
  max-width: 980px;
}

.navbar-brand img {
  height: 2rem;
  width: auto;
  margin-right: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  font-weight: normal;
  border-bottom: 2px solid #ffffff;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 300;
  margin: 0 0.25rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 2px solid #fff;
}

.navbar-dark .navbar-nav .nav-link.nav-icon:hover {
  border-bottom: none;
}

.navbar-collapse {
  transition-duration: 0s;
}

li.nav-item {
  margin-bottom: 0;
}

li.list-inline-item {
  margin-bottom: 0;
}

.card {
  border: none;
  border-radius: none;
}

.card-img-top {
  border-radius: 50%;
  display: block;
  width: 70%;
  margin: 0 auto;
}

/* Custom classes */
/*****************************************************************************/
.page-content {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.page-section {
  padding: 7rem 0;
}

.narrow-page {
  max-width: 750px;
}

.callout {
  margin: 0 auto 1.5rem;
  /* Set a tiny bottom padding because 0 causes it to ignore the p padding */
  padding: 1rem 1rem 0.001rem;
  border-left: 0.5rem solid var(--bs-yellow);
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  background-color: var(--bs-gray-100);
}

.callout-warning {
  border-color: var(--bs-danger);
}

.callout-note {
  border-color: var(--bs-primary);
}

.banner {
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: #ffffff;
}

.banner h1 {
  margin-bottom: 4rem;
}

.clab-button-outline {
  color: var(--clab-red);
  background-color: none;
  border-color: var(--clab-red);
}

.clab-button-outline:hover {
  color: #ffffff;
  background-color: var(--clab-red);
}

.clab-button {
  color: #ffffff;
  background-color: var(--clab-red);
}

.clab-button:hover {
  color: #ffffff;
  background-color: #bf0f0f;
}

.hidden {
  display: none;
}

.altmetric-embed img {
  width: auto;
}

.paper-info {
  padding: 1.5rem 1.25rem;
  border: 1px solid var(--bs-gray-400);
  border-radius: 5px;
}

.citation {
  border-left: 0.25rem solid var(--bs-gray-500);
  padding-left: 1rem;
  color: var(--bs-gray-600);
}
