/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    line-height: 1.7em;
    /* Margin bottom by footer height with a little room to accomodate small
     * screens */
    margin-bottom: 600px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 2.5em;
    line-height: 1.4em;
    margin-bottom: 30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 10px;
    font-size: 1.6em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
}

pre {
    margin-bottom: 30px;
}

ul {
    margin-bottom: 30px;
    padding-left: 20px;
}

blockquote {
    font-size: inherit;
    line-height: inherit;
    padding: 0px 21px;
    color: #666;
    margin-bottom: 30px;
}

i.fa {
    line-height: 1.7em;
}

i.ai {
    line-height: 1.7em;
}

.home-index {
    margin-bottom: 100px;
}

.category-header {
    font-size: 2em;
}

/* The icon list in the about page */
.social {
    list-style-type: none;
    margin-top: 10.5px;
    padding: 0px;
}

.social > li {
    display: inline;
    margin-right: 3px;
}

.social > li > a{
    color: #333;
}

.breadcrumb {
    font-size: 0.9em;
    margin-bottom: 30px;
}

.menu {
    line-height: 2.5em;
    border: none;
    padding: 20px 0px; !important
}

.menu-transparent {
    width: 100%;
    position: relative;
    color: #ffffff;
    margin-bottom: 0px;
}

.menu-transparent a {
    color: #ffffff;
}

.menu-opaque {
    position: relative;
    display: block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    color: #ffffff;
    margin-bottom: 80px;
    background-color: #d40000;
}

.menu-opaque a {
    color: #ffffff;
}

.menu-brand {
    padding: 10px 0px;
}

.menu-brand > a > img {
    height: 50px;
    display: inline;
}

.menu-list {
    padding: 10px 0px;
}

.menu-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list > ul > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
    height: 50px;
    vertical-align: middle;
}

.menu-list > ul > li > a > i.fa {
   line-height: 10px;
}

.fa-ul {
    margin-top: 10px;
}

.fa-ul li {
    margin-bottom: 5px;
}

footer {
    width: 100%;
    background-color: #d40000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding: 0px 0px;
    color: #ffd1d1;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 180px;
}

footer a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

footer a:hover {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.footer-text {
    padding: 0px 0px 30px 0px;
    font-size: 0.9em;
}

.footer-text p {
    margin: 0px 0px 15px 0px;
}

.list-group-item {
    border: none;
}

.list-group-item > i {
    margin-right: 5px;
}

img.pub-thumbnail {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 21px;
}

p.pub-date-author {
    margin-bottom: 20px;
}

.card {
    border: none;
    padding: 20px 0px;
}

.card-title {
}

.card-caption {
    font-size: 0.9em;
    margin: 0px;
}

.card-body {
    font-size: 0.9em;
    margin: 0px;
}

.card-date {
    color: #888888;
}

.card-author {
    margin: 0px 3px;
}

.card-author a {
    color: #000000;
    font-weight: 600;
}

img {
    width: 100%;
}

.alm {
    margin-top: 30px;
}

.altmetric-embed img {
    width: auto;
}

.embed-responsive {
    margin-bottom: 30px;
}

.banner {
    background-size: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) inset;
    margin: 0px;
    margin-bottom: 100px;
    width: 100%;
}

.banner-text {
    margin: 0;
    padding: 20px 0px 80px 0px;
    width: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px #222222;
}

.banner-title {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.7em;
    margin: 0px;
}

.banner-slogan {
    padding: 80px 0px;
}

.banner-slogan h1 {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.7em;
    margin: 0px;
}

.banner-slogan p {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.7em;
    margin: 40px 10px 50px 10px;
}

.banner-slogan a {
    color: #ffffff;
}

.banner-slogan a:hover {
    text-transform: none;
}

.banner-button {
    font-size: 1em;
    border: none;
    border-radius: 7px;
    background-color: #d40000;
    box-shadow: inset -2px -2px 1px rgba(0,0,0,0.3);
}

.banner-button:hover {
    background-color: #cf0000;
    box-shadow: inset 2px 2px 1px rgba(0,0,0,0.3);
}

.alert-blue {
    background-color: #2780e3;
}

.post-date {
    color: #aaaaaa;
}

.tag {
    background-color: #eeeeee;
    color: #333333;
    font-weight: lighter;
}

.tag-link:hover {
    background-color: #333333;
    color: #eeeeee;
    text-decoration: none;
}

.tag-link a {
    color: inherit;
}

.tag-link a:hover {
    color: inherit;
    text-decoration: none;
}

.tag-list {
    padding: 0px;
}

.tag-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-list > ul > li {
    display: inline-block;
    margin-right: 10px;
}

.tag-index {
    line-height: 2.2em;
}

.info {
    font-size: 0.9em;
}

.person h1 {
    margin-bottom: 0px;
}

.person h2 {
    font-size: 1.6em;
    border-bottom: none;
    margin: 10px 0px;
}

.person-card {
    text-align: center;
    margin-bottom: 40px;
}

.person-card img.img-circle {
    width: 200px;
}

.person-card-position {
    font-size: 0.9em;
    color: #aaaaaa;
    margin: 0px;
}

.person-card-name {
    font-size: 1.3em;
    margin: 20px 0px 5px 0px;
}

@media (min-width: 1200px) {
    .content {
        width: 900px;
    }
}

@media (max-width: 767px) {
    .picture {
        padding: 0px 20%;
    }
}
