{% extends "page.html" %}
{% from "utils.html" import make_index %}

{% block twitter_card_description %}
    <meta name="twitter:description" content="{{ site.description|striptags }}">
{% endblock %}

{% block opengraph_description %}
    <meta property="og:description" content="{{ site.description|striptags }}">
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}
    {{ site.title|striptags }}
{% endblock %}


{% block body %}

    <div class="container home">
        {{ this.body }}

        <div class="home-block">
            <h1>Lab news</h1>
            <ul class="fa-ul news">
            {% for page in site.reflinks["/news"].content[:4] %}
                <li>
                    <i class="fa-li fa fa-comments-o fa-fw"></i>
                    <a class="news-title" href="{{ page.url }}">{{ page.title }}</a>
                    <br>
                    <span class="card-date">({{ page.date.strftime('%Y-%m-%d') }})</span>
                    {{ page.body|first_paragragh }}
                    [...]
                </li>
            {% endfor %}
            </ul>
            <a class="text-right" href="/news">News archives »</a>
        </div>

    </div>

{% endblock %}
