{% extends "page.html" %}
{% from "utils.html" import make_breadcrumbs, manual_index %}


{% block breadcrumbs %}
    {% if not this.banner is defined %}
        {{ make_breadcrumbs(this) }}
    {% endif %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-8">
            {% if not this.banner is defined %}
                <h1>{{ this.title }}</h1>
            {% endif %}
            {{ this.body }}
        </div>
        <div class="col-md-4">
            <h2>Contents</h2>
            {{ manual_index(site) }}
        </div>
    </div>

{% endblock %}

