{% extends "page.html" %}


{% block content %}

    {% if not this.banner_title is defined %}
        <h1>{{ this.title }}</h1>
    {% endif %}

    <div class="row">
        <div class="col-md-8">

            {{ this.body }}

            {% if this.pager is defined and this.pager %}
                <hr>
                <ul class="pager">
                    {% if this.content is defined %}
                        <!-- Add pager on the Manual page (manual/index.md) -->
                        <li class="next"><a href="{{this.content[0].url}}">{{this.content[0].title}} &rarr;</a></li>
                    {% else %}
                        <!-- Add pager on each content page of the Manual -->
                        {% if this.prev %}
                            <li class="previous"><a href="{{this.prev.url}}">&larr; {{this.prev.title}}</a></li>
                        {% endif %}
                        {% if this.next %}
                            <li class="next"><a href="{{this.next.url}}">{{this.next.title}} &rarr;</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-4 manual-contents">
            <h2>Contents</h2>
            <a href="{{ site.reflinks["/manual"].url }}">{{ site.reflinks["/manual"].title }}</a>:
            <ul>
                {% for page in site.reflinks["/manual"].content %}
                    {% if page.url == this.url %}
                        {% set class="manual-current" %}
                    {% else %}
                        {% set class="" %}
                    {% endif %}
                    <li class={{ class }}>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
