<div class="container-fluid menu text-center">
    <div class="col-md-3 menu-brand">
        <a href="/">
            {% if site.menu_logo %}
                <img src="{{ site.menu_logo }}"></img>
            {% endif %}
            {{ site.title }}
        </a>
    </div>
    <div class="col-md-6 menu-list">
        <ul>
            {% for url, title in site.menulinks %}
                <li><a href="{{ url }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
    </div>
</div>
