{% extends "page.html" %}

{% from "utils.html" import fa, ai, author_list %}

{% block content %}

{{ super() }}

{% for row in this.content|batch(2) %}
    <div class="row">
    {% for article in row %}
        <div class="col-md-6">
            <div class="well article-box">
                <a href="{{article.url}}">
                    <h3>
                        {% if article.oa is defined and article.oa %}
                            {{ai("open-access", title="Open-access paper")}}
                        {% endif %}
                        {% if article.repository is defined %}
                            {{fa("github", title="Source-code available")}}
                        {% endif %}
                        {{ article.title }}
                    </h3>
                </a>
                <p>
                    ({{article.date.year}})
                    {{ author_list(article.author, site, link=True) }}.
                    <em>{{ article.journal }}</em>.
                    {% if article.inreview is defined and article.inreview %}
                        <span class="label label-warning">under review</span>
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endfor %}

{% endblock %}
