{% extends "page.html" %}


{% macro person_card(person) -%}
    <div class="person-card">
        <a href="{{person.url}}">
            <img class="img-circle" src="/images/people/{{ person.picture }}"></img>
            <p class="person-card-name">{{ person.title }}</p>
        </a>
        <p class="person-card-position">{{ person.position }}<br>{{ person.institution }}</p>
    </div>
{%- endmacro %}


{% block content %}

    {{ super() }}

    {% for row in this.content|rejectattr("former", "defined")|sort(attribute='date')|batch(4) %}
        <div class="row">
        {% for person in row %}
            <div class="col-sm-3 col-md-3">
                {{ person_card(person) }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}

    {% set former = this.content|selectattr("former", "defined")|list %}
    {% if former %}
        <h2>Previous lab members</h2>

        {% for row in former|sort(attribute='date', reverse=true)|batch(4) %}
            <div class="row">
            {% for person in row %}
                <div class="col-sm-3 col-md-3">
                    {{ person_card(person) }}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
