{% extends "page.html" %}


{% macro render_person(person) -%}
<a href="{{person.url}}">
    <div class="people-box">
        {% if person.picture is defined %}
            <img class="img-circle" src="/images/pic/{{person.picture}}"></img>
        {% else %}
            <img class="img-circle" src="/images/pic/misc.png"></img>
        {% endif %}
        <h3>{{person.title}}</h3>
        <p> {{ person.position }} <br> {{ person.institution }} </p>
    </div></a>
{%- endmacro %}


{% block content %}

    {{ super() }}

    <h2>Lab heads</h2>

    {% for row in this.content|selectattr("head", "defined")|sort(attribute='date')|batch(3) %}
        <div class="row">
        {% for person in row %}
            <div class="col-sm-4 col-md-4">
                {{ render_person(person) }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}

    <hr>

    <h2>Current members</h2>

    {% for row in this.content|rejectattr("former", "defined")|rejectattr("head", "defined")|sort(attribute='date')|batch(3) %}
        <div class="row">
        {% for person in row %}
            <div class="col-sm-4 col-md-4">
                {{ render_person(person) }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}

    <hr>
    <h2>Former members</h2>

    {% for row in this.content|selectattr("former", "defined")|sort(attribute='date', reverse=true)|batch(3) %}
        <div class="row">
        {% for person in row %}
            <div class="col-sm-4 col-md-4">
                {{ render_person(person) }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
