{% extends "publication.html" %}
{% from "utils.html" import make_tags, make_index, pub_info_icon, get_authors, related_pages %}


{% block content %}

    <h1 class="post-title">{{ this.title }}</h1>

    <div class="row">
        <div class="col-md-8">
            <ul class="fa-ul">
                <li class="post-date">
                    {{ pub_info_icon("fa fa-calendar", "date") }}
                    {{ this.date.strftime(' %d %B %Y') }}
                </li>
                {% if this.author is defined %}
                    <li>
                        {{ pub_info_icon("fa fa-users", "authors") }}
                        by
                        {{ get_authors(this, site, fancy=true) }}
                    </li>
                {% endif %}
                {% if this.tags is defined %}
                    <li>
                        {{ pub_info_icon("fa fa-tags", "tags") }}
                        {{ make_tags(this.tags) }}
                    </li>
                {% endif %}
            </ul>
            {{ this.body }}
        </div>
        <div class="col-md-4">
            {{ related_pages(this, site, columns=false) }}
        </div>
    </div>

{% endblock %}
